.contacts-link:hover {
    color: darkblue;
}

.contacts-link {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.contacts-phone {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.nav-studio {
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.nav-portfolio {
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.nav-contacts {
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;

}


.effect {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white
}

.but {
    position: absolute;
    width: 152px;
    height: 40px;
    left: 714px;
    top: 400px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background-color: #2196F3;


    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color:white;
}

.nav-web {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    letter-spacing: 0.06em;

    color: #2196F3;
}

.nav-li {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}


.darki {
    position: absolute;
    width: 1500px;
    height: 470px;
    left: 10px;
    top: 50px;

    background: #2F303A;
}

.nav {
    display: flex;
}

.nav-div {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 574px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}



.div-div {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 574px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}


.nav-nav {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 1135px;
    top: 574px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}



.nav-p {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 815px;
    top: 574px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.div {
    display: flex;
}

.li-one {
    position: absolute;
    width: 270px;
    height: 72px;
    left: 215px;
    top: 600px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #757575;
}


.li-two {
    position: absolute;
    width: 270px;
    height: 48px;
    left: 515px;
    top: 600px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #757575;
}

.li-chree {
    position: absolute;
    width: 270px;
    height: 48px;
    left: 815px;
    top: 600px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;
}


.li-fore {
    position: absolute;
    width: 270px;
    height: 72px;
    left: 1115px;
    top: 600px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #757575;
}